# Build directories
[Bb]in/
[Oo]bj/
[Dd]ist/
publish/
*.zip
release_notes.md

# Local .NET SDK
.dotnet-sdk/
.dotnet/
.nuget/

# IDE/Editor specific
.vs/
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates

# OS specific
.DS_Store
Thumbs.db

jlogs/
exampleNfos/
todo
